:root {
	--main-gold: #ceb084;
	--main-black: #131313;
	--main-grey: #262626;
}

body {
	margin: 0;
	background: #131313;
}

h1 {
	color: #ffffff;
	font-size: 70px;
	font-family: facto, sans-serif;
	margin: 0;
	line-height: 1em;
}

h2 {
	color: #ceb084;
	font-family: facto, sans-serif;
	font-size: 36px;
	line-height: 1.5em;
	margin: 0;
}

h3 {
	font-family: facto, sans serif;
	color: #ffffff;
	font-size: 32px;
}

h4 {
	font-family: facto, sans serif;
	color: #ffffff;
	font-size: 20px;
}

p {
	font-family: facto, sans serif;
	color: #ffffff;
}

ul {
	padding-left: 20px;
}

li {
	color: #ffffff;
	font-family: facto, sans serif;
}

a {
	font-family: facto, sans serif;
}

.white-text {
	color: #ffffff;
}

.gold-text {
	color: #ceb084;
}

.bold-text {
	font-weight: 700;
}

.light-text {
	font-weight: 100;
}

.regular-text {
	font-weight: 400;
}

.page-header {
	max-width: 1300px;
	margin: auto;
	padding: 0 25px;
}

.header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	padding: 25px 0;
}

.header-left img {
	width: 130px;
}

.header-right a {
	color: #ffffff;
	text-decoration: none;
}

.header-right a:hover {
	color: #ffffff;
	text-decoration: none;
}

.hero {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
    -ms-flex-align: center;
	align-items: center;
	padding: 25px 0;
}

.hero-image {
	min-width: 305px;
}

.hero-image svg {
	width: 100%;
	height: auto;
}

.hero-caption {
	padding-left: 50px;
}

.hero-caption-text h2 {
	font-weight: 400;
}

.hero-caption .hero-caption-text hr {
	display: inline-block;
	margin-bottom: 7px;
	width: 20px;
}

.page-body-1-container {
	background-color: #262626;
}

.page-body-1 {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 25px;
}

.page-body-1 h3 {
	line-height: 1.5em;
	margin: 0;
}

.page-body-1 hr {
	border: 1px solid #ceb084;
	margin: 25px auto 10px;
	max-width:100px;
}

#map {
	height: 500px;
	width: 100%;
}

.page-body-2 {
	max-width: 1100px;
	margin: 0 auto;
}

.page-body-2 .body-2-title {
	text-align: center;
	margin: 0 auto;
	max-width: 500px;
}

.body-2-title hr {
	border: 1px solid #ceb084;
	width: 150px;
}

.page-2-card-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	max-width: 1100px;
	padding: 0 50px;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}

.card {
	width: calc((100% / 3) - 25px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-align-items: center;
    -ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: start;
	-ms-flex-pack: start;
	justify-content: start;
}

.card img {
	width: 100%;
}

.card-title {
	background-color: #ceb084;
	text-align: center;
	padding: 15px 0;
	width: 100%;
}

.card-title h3 {
	color: #000000;
	font-size: 30px;
	margin: 0;
}

.card-text h3 {
	font-weight: 700;
	font-size: 20px;
}

.card-button {
	color: #ceb084;
	border: 2px solid #ceb084;
	padding: 20px;
	margin: 20px;
	text-decoration: none;
	display: inline-block;
}

.page-body-3-container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
    -ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.body-3-list li {
	margin: 16px 0 0; 
}

.inner-list {
	list-style: none;
}

.inner-list p {
	margin: 8px 0;
}

.footer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	margin-top: 25px;
}

.footer-copyright {
	padding: 10px;
}

.footer-copyright p {
	font-size: 12px;
}

.footer-logo {
	width: 100%;
}

.footer-logo img {
	width: 100%;
}

@media only screen and (max-width: 800px) {
	.hero {
		flex-direction: column;
	}

	.hero-caption {
		margin-bottom: 25px;
	}

	.page-2-card-container {
		flex-direction: column;
	}

	.card {
		width: 100%;
	}

	.page-body-3-container {
		flex-direction: column;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 12vw;
	}

	h2 {
		font-size: 5.2vw;
	}

	h3 {
		font-size: 4.4vw;
	}

	.footer {
		grid-template-columns: 1fr;
	}

	.footer-copyright p {
		font-size: 10px;
		text-align: center;
	}
}